#home{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#buttons{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.pageButton{
  background-color: black;
  color: white;
  padding: 10px;
}

#homeDirectory{
  margin: 0 auto;
  text-align: left;
}

#homeDirectory {
  height: 100%;
}

#homeDirectory td, th{
  padding: 10px;
  height: 20%;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
}

.id {
  display:block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: black;
}

.exchangeName{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.image{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
}

.exchangeCountry{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.exchangeRank{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.exchangeUrl{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.trow {
  background: white;
  border: 2px solid black;
}

.trow:hover {
  background: lightgreen;
}